  nav.nav {padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

nav.nav ul li {
    display: inline-flex;
    padding: 0;
    margin: 0;
}

nav.nav ul li a {color: #ddd;
    font-size: 14px;
    font-weight: 600;}

nav.nav ul li a{text-decoration: none;
 padding:0 10px;margin:0;cursor: pointer;
}

nav.nav h1 {
    font-size: 2em;
    color: #e16920;
    text-transform: uppercase;
}
.search-bar input {
    padding: 5px 18px;
    border: 1px solid #ddd;
    height: 28px;
    font-size: 15px;
    width: 400px;
    border-radius: 4px;
}

input[type="text"]:focus {
    outline: none;
}

button.btn-search {
    background-image: url(../../assets/images/nav-sprite.png);
    color: #fff;background-position: 3px 20px;
    border: none;background-repeat:repeat-x;
    padding: 10px 20px;
}

button.btn-search {
    width: 45px;
    height: 40px;
    background-position: -696px -281px;
    background-color: #febd60;
    border-radius: 0 4px 4px 0px;
}

  
section.header-wraper {
    background: #041022;
    padding: 0 0 20px 0;
}


.icon-wrap {
    background-image: none;
    border: none;
    width: 40px;
    position: absolute;
    top: 20px;
    left: 57%;
}

.nav h1 a {
    color: #feaa60;
}

.menu-items {
    position: relative;
    top: 10px;
}







