

.user-info {padding: 30px 50px;width: 50%;
    margin: auto;}

.user-info li {    list-style: none;
    margin: 0 0 10px 0;
    padding: 10px;
    font-weight: 600;
    color: #555;
    font-size: 15px;}

.user-info ul{margin:0;padding: 0;}

.usrname ul {
    float: left;
}

.col-md-6 {
    width: 48%;

}

.container.user-info li:nth-child(even) {
    background: beige;
}

.usrname li {
    text-transform: capitalize;
}