    <div class="container">

  <!--------------------------------------- Seller SignUp ------------------------------------>

    <div *ngIf="!hideShow" class="seller-auth">
        <div class="seller-signup">
            <h1>Seller Sign-Up </h1>
            <h5 class="errClass">{{errorMessage}}</h5>
        </div>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)">
             <input class="from-input" type="text" name="name" ngModel placeholder="Enter Name">
             <input class="from-input" type="text" name="password" ngModel placeholder="Enter Password">
             <input class="from-input" type="text" name="email" ngModel placeholder="Enter Email">
             <button class="from-btn"> Sign-Up </button>
        </form>
        <p (click)="redirectLogin()">Already Have Account? Click Here</p>
    </div>


    <!-------------------------------------- Seller SignUp -------------------------------->

    <div *ngIf="hideShow" class="seller-auth">
        <div class="seller-signup">
            <h1>Seller Login </h1>
            <h5 class="errClass">{{errorMessage}}</h5>
        </div>
        <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)">
             <input class="from-input" type="text" name="email" ngModel placeholder="Enter Email">
             <input class="from-input" type="text" name="password" ngModel placeholder="Enter Password">
             <button class="from-btn"> Login </button>
        </form>
        <p (click)="redirectSignUp()">Don't Have Account? Click Here</p>
    </div>

</div>
  
