

.formWarper input, .formWarper textarea, .formWarper button {
    display: flex;
    flex-direction: column;
    margin: 18px auto;
    padding: 10px 10px;
    width: 30%;
}

.formWarper button{
    color: #fff;
    background-color: #551a8b;
    text-align: center;
    margin: auto;display: grid;
    border: none;
    width: 32%;
}

.formWarper h1{ text-align: center;}
