

.card img {width: 100%;}

.card {
    display: inline-block;
    float: left;
    margin:10px 20px;
}

h5.card-title {
    padding: 10px 0;
}

.trending-products { background-color: #fff; padding:80px 0}

.card a{text-decoration: none;}


.card:hover {
    box-shadow: 0px 10px 20px #ddddddcf;
    transition: .5s ease;
    transform: translate(0px, -20px);
}
.card-body h6 {font-weight: bold;
    font-size: 18px;
}
.card-body {
    padding: 0 10px 12px 10px;
    color: #333;
}